.spybot-databattle-backdrop {
  position: absolute;
  width: 650;
  height: 420;
}

.spybot-databattle-backdrop-3 {
  background: url('/assets/databattle/company_bkg_3.jpeg');
}

table.spybot-databattle-board {
  position: absolute;
  left: 138px;
  top: 4px;
  border-spacing: 4px;
}

table.spybot-databattle-board>tr>td {
  width: 28px;
  height: 28px;
  padding: 0;
  margin-right: 4px;
  margin-bottom: 4px;
}

td.spybot-databattle-board-cell-passable {
  background-color: #FFFFFF;
}

td.spybot-databattle-board-cell-type-1 {
  background: url('/assets/databattle/cell_1.bmp');
}

td.spybot-databattle-board-cell-type-2 {
  background: url('/assets/databattle/cell_2.bmp');
}

td.spybot-databattle-board-cell-type-3 {
  background: url('/assets/databattle/cell_3.bmp');
}

td.spybot-databattle-board-cell-type-4 {
  background: url('/assets/databattle/cell_4.bmp');
}

td.spybot-databattle-board-cell-type-5 {
  background: url('/assets/databattle/cell_5.bmp');
}

td.spybot-databattle-board-cell-type-6 {
  background: url('/assets/databattle/cell_6.bmp');
}

td.spybot-databattle-board-cell-type-7 {
  background: url('/assets/databattle/cell_7.bmp');
}

td.spybot-databattle-board-cell-type-8 {
  background: url('/assets/databattle/cell_8.bmp');
}

td.spybot-databattle-board-cell-type-9 {
  background: url('/assets/databattle/cell_9.bmp');
}
