spybot-databattle-backdrop {
  position: absolute;
  width: 650;
  height: 420;
}

spybot-databattle-backdrop[spybot-databattle-backdrop-kind='3'] {
  background: url('/assets/databattle/company-backdrop-5.jpeg');
}

spybot-databattle-board {
  display: table;
  position: absolute;
  left: 136px;
  top: 2px;
  border-spacing: 0px;
}

spybot-databattle-board-cell {
  display: table-cell;
  width: 32px;
  height: 32px;
  padding: 0;
  position: relative;
}

spybot-databattle-board-cell-floor {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 2px;
  top: 2px;
}

spybot-databattle-board-cell[spybot-databattle-board-cell-occupied]>spybot-databattle-board-cell-floor {
  visibility: hidden;
}

spybot-databattle-board-cell-floor {
  opacity: .75;
}

spybot-databattle-board-cell-floor[spybot-databattle-board-cell-floor-tiletype='1'] {
  background: url('/assets/databattle/cell_1.png');
}

spybot-databattle-board-cell-floor[spybot-databattle-board-cell-floor-tiletype='2'] {
  background: url('/assets/databattle/cell_2.png');
}

spybot-databattle-board-cell-floor[spybot-databattle-board-cell-floor-tiletype='3'] {
  background: url('/assets/databattle/cell_3.png');
}

spybot-databattle-board-cell-floor[spybot-databattle-board-cell-floor-tiletype='4'] {
  background: url('/assets/databattle/cell_4.png');
}

spybot-databattle-board-cell-floor[spybot-databattle-board-cell-floor-tiletype='5'] {
  background: url('/assets/databattle/cell_5.png');
}

spybot-databattle-board-cell-floor[spybot-databattle-board-cell-floor-tiletype='6'] {
  background: url('/assets/databattle/cell_6.png');
}

spybot-databattle-board-cell-floor[spybot-databattle-board-cell-floor-tiletype='7'] {
  background: url('/assets/databattle/cell_7.png');
}

spybot-databattle-board-cell-floor[spybot-databattle-board-cell-floor-tiletype='8'] {
  background: url('/assets/databattle/cell_8.png');
}

spybot-databattle-board-cell-floor[spybot-databattle-board-cell-floor-tiletype='9'] {
  background: url('/assets/databattle/cell_9.png');
}

spybot-databattle-board-cell-datacard {
  background: url('/assets/databattle/datacard.png');
}

spybot-databattle-board-cell-sector {
  background: url('/assets/databattle/sector.png');
}
